.contacts {
    display: inline-flex;
    margin-left: auto;
}


.contacts__icon {
    margin-right: 10px;
    fill: currentColor;
}

.contacts__item:not(:last-child) {
    margin-right: 50px;
}



.contacts__link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
}



