.footer-social-list__titel {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
	color: var(--hero-text-color);
	margin-bottom: 20px;
}

.footer-social-list__tomb {
	@media screen and (max-width: 1199px) {
		margin-bottom: 60px;
	}
	@media screen and (min-width: 1200px) {
		margin-left: 70px;
	}
}

.footer .icon {
	fill: var(--hero-text-color);
}

.social-list__link-dark-bg {
	background-color: var(--footer-icon-color);
}

.footer .social-icons-link:focus,
.footer .social-icons-link:hover {
	background-color: var(--logo-button-color);
}
