.hero__text {
	font-weight: 900;
	font-size: 26px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--hero-text-color);
	max-width: 360px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;

	@media screen and (min-width: 1200px) {
		font-size: 44px;
		max-width: 696px;
	}
}
