.form {
	padding: 0;
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
}

.form__header {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.15;
	text-align: center;
	margin-bottom: 12px;
	color: var(--header-color);
}

.form__label {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}

.form__label:nth-child(5) {
	margin-bottom: 0;
}

.form-input__name {
	margin-bottom: 4px;

	font-weight: 400;
	font-size: 12px;
	line-height: 1.16;
	letter-spacing: 0.01em;
}

.form-input {
	border: 1px solid var(--form-border-color);
	border-radius: 4px;
	width: 100%;
	height: 40px;
	padding: 12px 15px 12px 42px;
	max-width: 100%;
	transition: border-color var(--transformationt-time) var(--cubic-bezier),
		outline var(--transformationt-time) var(--cubic-bezier);
}

.form-input__icon {
	position: absolute;
	left: 15px;
	top: 50%;
	transform: translatey(-50%);
	transition: fill var(--transformationt-time) var(--cubic-bezier);
}

.form-input__tomb {
	position: relative;
}

.form__label:focus-within .form-input__icon,
.form__label:focus-within .form-input {
	fill: var(--logo-button-color);
	border-color: var(--logo-button-color);
	outline: var(--logo-button-color);
}

.feedback {
	padding: 12px 16px;
	border: 1px solid var(--form-border-color);
	border-radius: 4px;
	resize: none;
	margin-bottom: 20px;
}

.checkbox__icon {
	width: 16px;
	min-width: 16px;
	height: 15px;
	border: 2px solid var(--header-color);
	border-radius: 2px;
	display: inline-flex;
	margin-right: 7px;
}

.checkbox:checked + .checkbox__icon {
	background-color: var(--logo-button-color);
	background-image: url(../images/icon-check.svg);
	background-size: contain;
	background-repeat: no-repeat;
	border: 2px solid var(--logo-button-color);
}

.form__link {
	color: var(--logo-button-color);
}

.checkbox__lable {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	margin-bottom: 30px;
}

.form-button {
	margin-right: auto;
	margin-left: auto;
}

.form-button:hover,
.form-button:focus {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form-field {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	position: relative;
	color: var(--dark-color);
	&--margin-bottom {
		margin-bottom: 0;
	}
}
.form-field__label {
	margin-bottom: 4px;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.01em;
	color: var(--font-color-dark);
}
.form-field__input {
	cursor: pointer;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 42px;
	padding-right: 0;
	height: 40px;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.01em;
	transition: border 250ms var(--timing-function);

	&:hover,
	&:focus {
		border: 1px solid var(--accent-color);
		outline: none;
	}
}
.form-field__icon {
	position: absolute;
	top: 55%;
	margin-left: 12px;
	fill: currentColor;
	transition: color 250ms var(--timing-function);

	&:focus,
	&:hover {
		color: var(--accent-color);
		cursor: pointer;
	}
}
.form-field__input:hover + .form-field__icon,
.form-field__input:focus + .form-field__icon {
	color: var(--accent-color);
}
.form-field:focus-within > .form-field__icon {
	color: rgba(33, 150, 243, 0.9);
}
.form-text-area::placeholder {
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.01em;
	color: rgba(117, 117, 117, 0.5);
}
.form-field__text-area {
	resize: none;
	cursor: pointer;
	height: 120px;
	padding: 12px 16px;
	margin-bottom: 20px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.01em;
	transition: border 250ms var(--timing-function);

	&:hover,
	&:focus {
		border: 1px solid var(--accent-color);
		outline: none;
	}
}
.form-field:nth-child(5) {
	flex-direction: row;
}
.form-field__checkbox-lable {
	display: flex;
	align-items: center;
	justify-content: start;
	cursor: pointer;
	font-size: 12px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--font-color-dark);
	margin-bottom: 30px;
	@media screen and (max-width: 350px) {
		font-size: 10px;
	}
	@media screen and (max-width: 480px) {
		flex-wrap: wrap;
	}
	@media screen and (min-width: 1200px) {
		font-size: 14px;
	}
}
.form-field__checkbox {
	appearance: none;
}
.form-field__check-box-part {
	cursor: pointer;
	margin-right: 8.38px;
	width: 16px;
	height: 15px;
	background-image: url(../images/vector.svg);
	@media screen and (min-width: 1200px) {
		margin-left: 12px;
	}
}
.form-field__checkbox:focus + .form-field__check-box-part {
	outline: 1px solid var(--accent-color);
}

.form-field__checkbox:checked:focus + .form-field__check-box-part {
	background-color: #2196f3;
	outline: 1px solid var(--accent-color);
	background-image: url(../images/r.svg);
	background-repeat: no-repeat;
	background-position: center;
}
.modal-form__btn {
	display: block;
	padding: 10px 55px;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
	border: none;
	background-color: #188ce8;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	font-weight: bold;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.06em;
	color: var(--main-color);
}
