.menu-social-list {
	display: none;
	@media screen and (max-width: 767px) {
		display: flex;
		flex-wrap: wrap;
	}
}

.menu-social-list .menu-social-list-link {
	font-weight: 500;
	font-size: 18px;
	line-height: 1.22;
	letter-spacing: 0.02em;
}

.menu-social-list__item:not(:first-child)::before {
	content: "";
	width: 22px;
	height: 0px;
	left: 135px;
	top: 726px;
	margin-left: 10px;
	margin-right: 10px;
	border: 1px solid rgba(33, 33, 33, 0.2);
}
