:root {
    --main-text-color: #757575;
    --background-color: #2F303A;
    --header-color: #212121;
    --header-border-color: #ECECEC;
    --hero-text-color: #ffffff;
    --logo-button-color: #2196F3;
    --ligth-bg-color: #F5F4FA;
    --button-hover-color: #188CE8;
    --gradient-color: rgba(47, 48, 58, 0.4);
    --card-text-background-color: rgba(47, 48, 58, 0.8);
    --icon-color: #AFB1B8;
    --footer-icon-color: rgba(255, 255, 255, 0.1);
    --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
    --transformationt-time: 250ms;
    --form-border-color: rgba(33, 33, 33, 0.2);
    --shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    
}