.address__link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    }
    
    .address__link-white {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--hero-text-color);
    }
    
    
    
    .address__item:not(:last-child) {
        margin-bottom: 9px;
    }
    