.social-list {
    display: inline-flex;
}

.social-list__link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    transition: background-color var(--transformationt-time) var(--cubic-bezier),
    fill var(--transformationt-time) var(--cubic-bezier);
}

.social-list__link:hover,
.social-list__link:focus {
    background-color: var(--logo-button-color);
}

.social-list__link:focus .icon,
.social-list__link:hover .icon {
    fill: var(--hero-text-color);
}

.social-list__item:not(:last-child) {
    margin-right: 10px;
}

.social-list__link .icon {
    width: 20px;
    height: 20px;
    fill: var(--icon-color);
    transition: fill var(--transformationt-time) var(--cubic-bezier);
}