.clients {
    text-align: center;
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients__title {
font-weight: 700 ;
font-size: 36px;
line-height: 1.14;
color:var(--header-color);
margin-bottom: 50px;

}

.clients__list {
    display:flex;
    margin-left: -30px;
}

.clients__item {
    width: calc(100% / 6 - 30px);
    margin-left: 30px;
    height: 90px;


}

.clients__link {
    border: 1px solid var(--icon-color);
    fill: var(--icon-color);
    box-sizing: border-box;
    border-radius: 4px;
    width: 170px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: fill var(--transformationt-time) var(--cubic-bezier),
    border-color var(--transformationt-time) var(--cubic-bezier);

}

.clients__link:hover,
.clients__link:focus {
    fill: var(--logo-button-color);
    border-color: var(--logo-button-color);
}