.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--background-color);
    }

.footer__conteiner {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.footer-contacts__tomb {
    display: flex;
    align-items: baseline;
}