.is-hidden .modal {
    transform: translatey(-100%) scale(0.01);
    }
    
.modal {
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%) scale(1);
transition: transform var(--transformationt-time) var(--cubic-bezier) ;
width: 100%;
max-width: 528px;
min-height: 581px;
padding: 40px;
background-color: var(--hero-text-color);
box-shadow: var(--shadow);
border-radius: 4px;
}