.what-we-do {
    padding-bottom: 94px;
    @media screen and (max-width: 767px) {
        
    }
}

.what-we-do__list {
    display: flex;
    margin-left: -30px;
}

.what-we-do__title {
    margin-bottom: 50px;
}

.what-we-do__item {
    width: calc(100% / 3 - 30px);
    margin-left: 30px;
}

.what-we-do__item-thomb {
    position: relative;
    display: block;
}

.what-we-do__description-text {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
color: var(--hero-text-color);
margin: 0;
}

.what-we-do__card-description {
position: absolute;
bottom: 0;
right: 0;
left: 0;
height: 70px;
display: flex;
align-items: center;
justify-content: center;
background-color: var(--card-text-background-color);
}
